@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Shantell+Sans:wght@300&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.1rem;
    outline: none;
    border-radius: 1rem;
    transition: 0.2s ease;
}

html {
    font-size: 62.5%;
}

.arkaPlan {
    height: 100vh;
    border-radius: 0;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(142, 0, 0, 1) 100%);
}

.kapsayici {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(255, 55, 55, 1) 100%);

    -webkit-box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 1);
}

.butonlar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

._ekran {
    width: 100%;
}

._ekran input {
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(255, 220, 220);
    color: #252525;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid grey;

}

.buton {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid grey;
    background-color: rgb(255, 220, 220);
    color: #252525;
}

.animasyonluButon{
    animation: animasyon 1.5s ease-in-out infinite;
}
@keyframes animasyon {
    0% {
      background-color: rgb(255, 220, 220);
      
    }
    50% {
      background-color: #ff3737;
      color: #fff;
    }
    100% {
      background-color: rgb(255, 220, 220);
      color: #252525;
    }

  }

.uzun_butony {
    grid-row: span 2;
    /* Butonu span gibi düşünüp aşağı doğru uzattık  1 varsayılan 2 yapınca 2 spanlık yer tuttu  */
}

.uzun_butonx {
    grid-column: span 2;
    /* Butonu span gibi düşünüp aşağı doğru uzattık  1 varsayılan 2 yapınca 2 spanlık yer tuttu  */

}

.buton:hover {
    background-color: #ff3737;

}

.buton:active {
    background-color: #000000;
    color: #ffffff;

}